@import url('https://fonts.googleapis.com/css2?family=Poopins:wght@300;400;500;600;700;800;900&display=swap');
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poopins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: rgba(79, 28, 149, 1);
}

section {
  background:rgba(79, 28, 149, 1);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  position: absolute;
  height: 800px;
  top: 50px;
}

.Workspace {
  display: flex;
  align-items: center;
  flex-direction: column; 
}

.BoxText {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputBox input {
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  width: 400px;
  padding: 20px;
  background: rgba(79, 28, 149, 1);
}

.inputLabel {
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  width: 400px;
  padding: 20px;
}

.outputLabel {
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  width: 600px;
  top: 100px;
  padding: 40px;
}
