@import url('https://fonts.googleapis.com/css2?family=Poopins:wght@300;400;500;600;700;800;900&display=swap');
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poopins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: rgba(79, 28, 149, 1);
}

section {
  background:rgb(216, 215, 215, 1);
  border: 2px solid #faa419;
  border-radius: 7px;
  position: absolute;
  height: auto;
  top:50px;
  width: 700px;
}

.logotip {
  transform:  translateY(20px);
}

.MainWork {
  transform: translateY(-110px);
}
.Workspace {
  display: flex;
  align-items: center;
  flex-direction: column; 
}


.Workspace button {
    background-color: rgb(216, 215, 215, 1);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.buttonVoice button {
  transform: translateX(240px) translateY(94px);
}

.BoxText {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputBox input {
  border: 2px solid #faa419;
  border-radius: 7px;
  width: 335px;
  padding: 30px;
  background: rgb(216, 215, 215, 1);
  outline: none;
  
}

.inputBox button {
  background: rgb(216, 215, 215, 1);
  border: 2px solid #faa419;
  border-radius: 7px;
  padding: 29px;
  width: 30px;
}

.inputBox span {
  position: absolute;
  left: 130px;
  pointer-events: none;
  text-transform: uppercase;
  transition: 0.5s;
  color: black;
  transform: translateX(30px) translateY(-1px);
  font-size: 0.65em;
  padding: 0 10px;
  background: rgb(216, 215, 215, 1);
  border-left: 2px solid #faa419;
  border-right: 2px solid #faa419;
}

.inputLabel {
  border: 2px solid #faa419;
  border-radius: 7px;
  width: 400px;
  padding: 40px;
}

.inputLabel span{
  position: absolute;
  left: 130px;
  pointer-events: none;
  text-transform: uppercase;
  transition: 0.5s;
  color: black;
  transform: translateX(30px) translateY(-50px);
  font-size: 0.65em;
  padding:0 10px;
  background: rgb(216, 215, 215, 1);
  border-left: 2px solid #faa419;
  border-right: 2px solid #faa419;
}

.outputLabel {
  border: 2px solid #faa419;
  border-radius: 7px;
  width: 600px;
  top: 100px;
  padding: 80px;
}

.outputLabel span {
  position: absolute;
  left: 90px;
  pointer-events: none;
  text-transform: uppercase;
  transition: 0.5s;
  color: black;
  transform: translateX(-30px) translateY(-90px);
  font-size: 0.65em;
  padding: 0 10px;
  background: rgb(216, 215, 215, 1);
  border-left: 2px solid #faa419;
  border-right: 2px solid #faa419;
}

.logotip_group {
  position: absolute;
  transform: translateX(-10px) translateY(550px);
}
